body {
  margin: 0;
  padding: 0;
}

.row {
  text-align: center;
  display: inline-block;
}

.header {
  text-align: center;
}

.header h1 {
  text-align: left;
  margin-top: 30vh;
  width: 80vh;
  height: 500px;
}

.header img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  vertical-align:middle;
}

.inner {
  vertical-align: middle;
}

.container {
  position: relative;
  height: 220vh;
}

.main {
  color: white;
}

.container img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.intro {
  background-color: white;
  height: 50vh;
}

.team {
  background-color: white;
  height: 50vh;
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  margin-top: 50vh;
  opacity: 1.0;
}

.about h1 {
  font-size: 26px;
}

.arrow-icon-wrapper {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 10%;
}

#navbar {
  text-align: right;
  right: 50px;
  top: 70px;
  left: 20px;
  position: fixed;
}

#navbar img {
  position: absolute;
  left: 3%;
  width: 8%;
}

#navbar li {
    list-style: none;
}

#navbar a {
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration: none;
    color: #F64747;
}

#navbar a:hover {
    border-bottom: 2px solid #F64747; 
    background-color: transparent;
    color: black;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
  }
}

h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	  text-align: left;
    font-size: 60px;
    font-family: 'Merriweather', sans-serif;
    color: black;
    font-weight: bold;
}

h1 span {
  color: #F64747;
}

h2 {
    display: inline-block;
    font-size: 60px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: #1cbbb4;
}

h3 {
    display: inline-block;
    font-size: 30px;
    font-family: 'Gotham', sans-serif;
    font-weight: 100;
    color: black;
}

h4 {
    font-size: 20px;
    font-family: 'Merriweather', sans-serif;
    color: #1cbbb4;
}

p {
	margin: auto;
	color: black;
	font-family: 'Merriweather', sans-serif;
	font-weight: bold;

}

footer {
  background-color: black;
  width: 100%;
	text-align: center;
  padding-bottom: 30px;
  bottom: 10px;
  height: 80px;
  margin: 0 auto;
}

footer img {
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
  height: 40px;
}

@media screen and (max-device-width: 499px) {
  .header {
    margin-top: 10vh;
  }

  .header img {
    width: 500px;
    height: 500px;
  }

  h1 {
    text-align: center;
    font-size: 100px;
  }

  footer {
    margin-bottom: 60px;
  }

  footer img {
    padding-left: 25px;
    padding-right: 25px;
    width: 80px;
    height: 80px;
  }
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    margin-top: 10vh;
  }

  .header img {
    width: 300px;
    height: 300px;
  }

  h1 {
    text-align: center;
    font-size: 80px;
  }

  footer {
    margin-bottom: 20px;
  }

  footer img {
    padding-left: 25px;
    padding-right: 25px;
    width: 50px;
    height: 50px;
  }
}






.separator {
  height: 30vh;
  background-color: #3d4e4d;
}



.portfolio {
  width: 75%;
  margin: 30px auto;
  font-family: sans-serif;

}

.portfolio h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div {
  font-size: 0;
}

.portfolio h1 {
  font-size: 26px;
}

.portfolio a {
  height: 250px;
  color: inherit;
  border: 1px solid rgba(142,142,142,0.2);;
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(25% - 20px);
  margin-left: 8px;
  text-align: center;
}

.portfolio a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
  
  a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

.portfolio a .white {
  display: none;
}

.portfolio a, p {
  padding-top: 15px;
    font-size: 13px;
    text-decoration: none;
    font-family: 'Gotham', sans-serif;
    font-weight: normal;
}

.portfolio a:hover {
  background-color: #3d4e4d;
}

.portfolio a:hover .black {
  display: none;
}

.portfolio a:hover .white {
  display: inline;
}

.portfolio a:hover p {
  color: white;
}

.portfolio img {
  border: none;
  max-width: 100%;
  height: 30px;
  margin-top: 25%;
  transition: transform .2s ease-in-out;
}

.team {
  padding-top: 30vh;
  width: 60%;
  margin: 30px auto;
}

.team a {
  font-size: 16px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(33% - 20px);
  margin-left: 8px;
}

.team a:nth-of-type(2n) {
  margin-right: 0;
}

.team img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.container {
  position: relative;
  display: inline-block;
}

.team h1 {
  font-size: 26px;
}

.contact {
  padding-top: 50vh;
}

.overlay {
    background:rgba(0,0,0,0.5);
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    font-size: 16px;
    font-family: 'Merriweather', sans-serif;
}

.team a:hover > .overlay {
    opacity: 1;
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}
