body, html {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
}

.row {
  text-align: center;
  display: inline-block;
}

.header {
  text-align: center;
}

.header h1 {
  text-align: left;
  margin-top: 30vh;
  width: 50%;
  height: 500px;
}

.header img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  vertical-align:middle;
}

.inner {
  vertical-align: middle;
}

.container {
  position: relative;
  height: auto;
}

.main {
  color: white;
}

.container .bg-img {
    position: relative;
    left: 0;
    top: 0;
    width: 85%;
    height: auto;
}

.intro {
  background-color: white;
  height: 50vh;
}

.team {
  background-color: white;
  height: 50vh;
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  margin-top: 5vh;
  opacity: 1.0;
}

.about h1 {
  font-size: 26px;
}

.arrow-icon-wrapper {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 10%;
}

#navbar {
  text-align: right;
  right: 50px;
  top: 70px;
  left: 20px;
  position: fixed;
}

#navbar img {
  height: auto;
  position: absolute;
  left: 3%;
  width: 120px;
}

#navbar li {
    list-style: none;
}

#navbar a {
    font-size: 16px;
    font-family: 'AileronBlack', sans-serif;
    /* MerriWeather */
    font-weight: bold;
    color: black;
    text-decoration: none;
    color: #F64747;
}

#navbar a:hover {
    border-bottom: 2px solid #F64747; 
    background-color: transparent;
    color: black;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  #navbar a img {
    display: none;
  }

  #navbar .icon a {
    border-bottom: none;
    color: #F64747;
  }

  #navbar {
  text-align: right;
  right: 20px;
  top: 20px;
  left: 20px;
  position: fixed;
}
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
  }

}

h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	  text-align: left;
    font-size: 60px;
    font-family: 'AileronBlack', sans-serif;
    color: black;
    font-weight: bold;
}

h1 span {
  color: #F64747;
}

h2 {
    display: inline-block;
    font-size: 30px;
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    color: black;
}

h3 {
    display: inline-block;
    font-size: 30px;
    font-family: 'AileronLight', sans-serif;
    font-weight: 100;
    color: black;
}

h4 {
    font-size: 20px;
    font-family: 'Merriweather', sans-serif;
    color: #1cbbb4;
}

h6 {
  font-family: "AileronItalic", sans-serif;;
  color: white;
  font-size: 15px;
  margin: 0;
}

p {
	margin: auto;
	color: black;
	font-family: 'Merriweather', sans-serif;
	font-weight: bold;

}

footer {
  background-color: #3d4e4d;
  width: 100%;
	text-align: center;
  padding-bottom: 30px;
  bottom: 10px;
  height: 80px;
  margin: 0 auto;
}

footer img {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
  height: 40px;
}

@media screen and (max-device-width: 499px) {
  .header {
    margin-top: 10vh;
  }

  .header img {
    width: 500px;
    height: 500px;
  }

  .header h1 {
    margin-top: 10vh;
    text-align: left;
    font-size: 30px;
    width: 50%;
  }

  footer {
    margin-bottom: 60px;
  }

  footer img {
    padding-left: 25px;
    padding-right: 25px;
    width: 40px;
    height: 40px;
  }

  .container {
    height: 100vh;
  }

  .container .bg-img {
    width: 100%;
    padding-top: 20vh;
  }

  .about {
    margin-top: 5vh;
  }

  #navbar img {
    width: 50px;
  }
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    margin-top: 10vh;
  }

  .header img {
    width: 300px;
    height: 300px;
  }

  .header h1 {
    margin-top: 10vh;
    text-align: center;
    font-size: 60px;
  }

  footer {
    margin-bottom: 20px;
  }

  footer img {
    padding-left: 25px;
    padding-right: 25px;
    width: 50px;
    height: 50px;
  }
}


.separator {
  padding-bottom: 15vh;
  width: 60%;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid #e7e9ee;
}

.portfolio {
  padding-top: 5vh;
  width: 60%;
  margin: 30px auto;
  font-family: sans-serif;

}

.portfolio h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div {
  font-size: 0;
}

.portfolio h1 {
  font-size: 26px;
}

.portfolio a {
  height: 200px;
  color: inherit;
  border: 1px solid rgba(142,142,142,0.2);;
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(25% - 20px);
  margin-left: 8px;
  text-align: center;
}



.portfolio a .white {
  display: none;
}

.portfolio a, p {
  padding-top: 15px;
    font-size: 13px;
    text-decoration: none;
    font-family: 'AileronLight', sans-serif;
    font-weight: normal;
}

.portfolio a:hover {
  background-color: #F64747;
}

.portfolio a:hover .black {
  display: none;
}

.portfolio a:hover .white {
  display: inline;
}

.team .img_container .black {
  display: none;
}

.team .img_container .color {
  display: block;
}

.team .img_container:hover .color {
  display: none;
}

.team .img_container:hover > .overlay {
    opacity: 1;
}

.team .img_container:hover .black {
  display: block;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.logo {
  display: none;
}

.portfolio a:hover p {
  color: white;
}

.portfolio img {
  border: none;
  max-width: 100%;
  height: 30px;
  margin-top: 25%;
  transition: transform .2s ease-in-out;
}

.team {
  width: 60%;
  padding-top: 5vh;
  padding-bottom: 80px;
  margin: 30px auto;
}

.team h6 {
  padding-bottom: 10px;
}

.team .link {
  color: white;
}

.team .link img {
  margin-left: auto;
  margin-right: auto;
  background: none;
  width: 60px;
  height: auto;
}

.team .img_container {
  font-size: 16px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(33% - 20px);
  margin-left: 8px;
}

.team .img_container:nth-of-type(2n) {
  margin-right: 0;
}

.team img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.container {
  position: relative;
  display: inline-block;
}

.team h1 {
  font-size: 26px;
}

.contact {
  padding-top: 50vh;
}

.overlay h5 {
    margin: 0;
    font-size: 32px;
    font-family: 'AileronBold', sans-serif;
}

.overlay {
    background:rgba(0,0,0,0.0);
    position:absolute;
    padding-left: 10px;
    padding-bottom: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    text-align: center;
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}

.advisors {
    display:block;
    width:100%;
    padding:4px;
    box-sizing:border-box;          /* Make sure that 50% includes the padding */
    -moz-box-sizing:border-box;     /* For Firefox                             */
    -webkit-box-sizing:border-box;
}

.advisors_inner {
  text-align:left;
  display:inline-block;
}


@font-face {
    font-family: AileronBold;
    src: url("aileron/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: AileronBlack;
    src: url("aileron/Aileron-Black.otf") format("opentype");
}

@font-face {
    font-family: AileronLight;
    font-weight: bold;
    src: url("aileron/Aileron-Light.otf") format("opentype");
}

@font-face {
    font-family: AileronItalic;
    font-weight: bold;
    src: url("aileron/Aileron-SemiBoldItalic.otf") format("opentype");
}



.info_container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.btn_container {
  height: 10%;
}

.info_container .close_info_btn {
    width: auto;
    color: #F64747;
    position: absolute;
    left: 0px;
    right: 10px;
    font-size: 60px;
}

.startcontainer_1 {
  position:relative;
  overflow:hidden;
  width: 100%;
  height: 50%;
}

.startcontainer_1 .leftdiv {
  float: left;
  height: 100%;
  width: 50%;
}

.startcontainer_1 .div1 {
  height: 50%;
  width: 100%;
  background-color: white;
  padding: 10px;
}

.div1 img {
  float: left;
  width: 70%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.textbox {
  font-size:24px;
  font-weight:bold;
  background-color: white;
  color:black;
  position:absolute;  
  z-index:100;
}


.div1 .textbox {
  
    
  

}

.startcontainer_1 .div2 {
  height: 50%;
  width: 100%;
  background-color: yellow;
}

.startcontainer_1 .div3 {
  height: 100%;
  float: right;
  width: 50%;
  background-color: black;
  top: 0;
}

.startcontainer_2 {
  height: 40%;
  width: 100%;
}

.startcontainer_2 .bottomdiv {
  height: 50%;
  width: 100%;
}

.startcontainer_2 .div4 {
  height: 50%;
  width: 100%;
  background-color: blue;
}

.startcontainer_2 .div5 {
  float: left;
  height: 100%;
  width: 50%;
  background-color: purple;
}

.startcontainer_2 .div6 {
  float: left;
  height: 100%;
  width: 50%;
  background-color: orange;
}




.navbaroverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F64747;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbaroverlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.navbaroverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: white;
    display: block;
    transition: 0.3s;
}

.navbaroverlay a:hover, .navbaroverlay a:focus {
    color: white;
}

.navbaroverlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .navbaroverlay a {font-size: 20px}
  .navbaroverlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}




#resources{
  padding-top: 10vh;
width: 75%;
margin: auto;
height: 800px;
background-color: white;

}

#fp1{
width: 25%;
height: 800px;
background-color: white;
float: left;
}

#fp1 p {
  padding-top: 40px;
  font-size: 16px;
}

#fp2{
width: 25%;
height: 800px;
float: left;
background-color: white;
}

#fp2 img{
  width: auto;
  height: 50%;
}

#fp2 .bottom_img {
  padding-top: 30px;
  height: 20%;
}

#fp3{
width: 25%;
height: 800px;
float: left;
background-color: white;
}

#fp3 img{
  width: auto;
  height: 50%;
}

#fp3 .bottom_img {
  padding-top: 30px;
  height: 20%;
}

#fp4{
width: 25%;
height: 800px;
background-color: white;
float: left;
}

#fp4 img{
  height: 50%;
  width: auto;
}

#fp4 .bottom_img {
  padding-top: 30px;
  height: 20%;
}

hr {

  width: 40%;
  left: 0;
  color: #F64747;
background-color: #F64747;
height: 5px;
}


@media (max-width: 768px) {
  .about {
    width: 70%;
  }

  .portfolio {
    width: 80%;
  }

  .portfolio a {
      height: 130px;
      width: calc(50% - 20px);
  }

  .portfolio .black {
    height: 20px;
  }

  .portfolio .white {
    height: 20px;
  }

  #team {
    width: 80%;
  }

  #team h5 {
    font-size: 20px;
  }

  #team h6 {
    font-size: 10px;
  }

  #team a img {
    width: 30px;
    height: 30px;
  }

  #resources {
    height: auto;
    width: 80%  
  }

  #fp1 {
    width: 100%;
  }

  #fp2 {
    width: 100%;
  }

  #fp3 {
    width: 100%;
  }

  #fp4 {
    width: 100%;
  }

  #team .img_container {
    width: calc(50% - 20px);
  }
}

@media (min-width: 769px) and (max-width: 980px) {
  .portfolio a {
      height: 130px;
      width: calc(33% - 20px);
  }

  #team {
    width: 90%;
  }

  #team .img_container {
    width: calc(50% - 20px);
  }
}

@media (min-width: 981px) and (max-width: 1450px) {
  .portfolio a {
      height: 150px;
      width: calc(33% - 20px);
  }

  #team {
    width: 90%;
  }

  #team .img_container {
    width: calc(50% - 20px);
  }
}

@media (min-width: 1451 px) {
  .team {
    width: 60%;
  }

  #team .img_container {
    width: calc(50% - 20px);
  }
}

.portfolio a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
  
  a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(4n) {
    margin-right: 0;
  }
}




