body, html {
  margin: 0;
  overflow: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-tap-highlight-color:transparent;
}

::selection {
  background: #F64747;
  color: white;
}

.row {
  text-align: center;
  display: inline-block;
}

.header {
  text-align: center;
}

.header h1 {
  text-align: left;
  margin-top: 30vh;
  width: 50%;
  height: 500px;
}

h5 {
  font-family: 'AileronBold', sans-serif;
}

.header img {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
  vertical-align:middle;
}

.inner {
  vertical-align: middle;
}

.container {
  position: relative;
  height: auto;
}

.main {
  color: white;
}

.container .bg-img {
    position: relative;
    left: 0;
    top: 0;
    width: 85%;
    height: auto;
    animation: toColor 10s;
}

@keyframes toColor {
    0%    { -webkit-filter: grayscale(100%); filter: grayscale(100%); }
    25%   { -webkit-filter: grayscale(75%); filter: grayscale(75%); }
    50%   { -webkit-filter: grayscale(50%); filter: grayscale(50%); }
    50%   { -webkit-filter: grayscale(25%); filter: grayscale(25%); }
    100%  { -webkit-filter: grayscale(0%); filter: grayscale(0%); }
}

.team {
  background-color: white;
  height: auto;
}

.team a {
  width: 40px;
}

.about {
  width: 60%;
  margin: 0 auto;
  text-align: left;
  margin-top: 5vh;
  opacity: 1.0;
}

.about h1 {
  font-size: 26px;
}

.arrow-icon-wrapper {
    position: absolute;
    text-align: center;
    left: 50%;
    bottom: 10%;
}

#navbar {
  text-align: right;
  right: 50px;
  top: 70px;
  left: 20px;
  position: fixed;
}

#navbar img {
  height: auto;
  position: absolute;
  left: 3%;
  width: 140px;
}

#navbar li {
    list-style: none;
}

#navbar a {
    font-size: 20px;
    font-family: 'AileronBold', sans-serif;
    /* MerriWeather */
    font-weight: bold;
    text-decoration: none;
    color: #F64747;
}

#navbar a:hover {
    border-bottom: 2px solid #F64747; 
    background-color: transparent;
    color: #22313F;
}

ul.topnav li.icon {
    display: none;
}

@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }

  #navbar a img {
    display: none;
  }

  #navbar .icon a {
    border-bottom: none;
    color: #F64747;
  }

  #navbar {
  text-align: right;
  right: 20px;
  top: 20px;
  left: 20px;
  position: fixed;
}
}

@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
  }

}

h1 {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
	  text-align: left;
    font-size: 60px;
    font-family: 'AileronBlack', sans-serif;
    color: #22313F;
    font-weight: bold;
}

h1 span {
  color: #F64747;
}

h2 {
    font-size: 30px;
    font-family: 'AileronBold', sans-serif;
    font-weight: bold;
    color: #22313F;
    text-align: center;
}

h3 {
    display: inline-block;
    font-size: 36px;
    font-family: 'AileronLight', sans-serif;
    font-weight: 100;
    color: #22313F;
}

h4 {
    font-size: 20px;
    font-family: 'AileronLight', sans-serif;
    color: #22313F;
}

h6 {
  font-family: "AileronItalic", sans-serif;;
  color: white;
  font-size: 12px;
  margin: 0;
}

p {
	margin: auto;
	font-family: 'AileronLight', sans-serif;
	font-weight: bold;
  color: #22313F;
}

footer {
  background-color: #3d4e4d;
  bottom: 10px;
  margin: 0 auto;
}

footer img {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 40px;
  height: 40px;
}

footer .footer_contact {
  width: 60%;
  margin: 0 auto;
}

footer h1 {
  padding-top: 40px;
  font-size: 26px;
  color: white;
}

footer h2 {
  width: 45%;
  text-align: left;
  font-size: 14px;
  color: white;
}

footer h3 {
  width: 45%;
  text-align: left;
  font-size: 14px;
  color: white;
}

footer .footer_img_container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

footer .display {
  height: auto;
}

@media screen and (max-device-width: 499px) {
  .header {
    margin-top: 10vh;
  }

  .header img {
    width: 500px;
    height: 500px;
  }

  .header h1 {
    margin-top: 10vh;
    text-align: left;
    font-size: 30px;
    width: 50%;
  }

  footer img {
    width: 30px;
    height: 30px;
  }

  .container {
    height: auto;
  }

  .container .bg-img {
    width: 100%;
    padding-top: 20vh;
  }

  .about {
    margin-top: 5vh;
  }

  #navbar img {
    width: 50px;
  }
}

@media screen and (max-device-width: 1024px) and (orientation: landscape) {
  .header {
    margin-top: 10vh;
  }

  .header img {
    width: 300px;
    height: 300px;
  }

  .header h1 {
    margin-top: 10vh;
    text-align: center;
    font-size: 60px;
  }

  footer {
    margin-bottom: 20px;
  }

  footer img {
    padding-left: 25px;
    padding-right: 25px;
    width: 50px;
    height: 50px;
  }
}


.separator {
  padding-bottom: 15vh;
  width: 50%;
  text-align: center;
  margin: auto;
  border-bottom: 2px solid #e7e9ee;
}

.portfolio {
  padding-top: 10vh;
  width: 60%;
  margin: 30px auto;
}

.portfolio h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

div {
  font-size: 0;
}

.portfolio h1 {
  padding-bottom: 30px;
  font-size: 26px;
}

.portfolio .block_container {
  vertical-align: top;
  overflow: hidden;
  color: inherit;
  border: 1px solid rgba(142,142,142,0.2);;
  font-size: 16px;
  width: calc(25% - 20px);
  display: inline-block;
  height: 200px;
  margin-bottom: 8px;
  margin-left: 8px;
  text-align: center;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.img_holder {
  margin-top: 15%;
  height: 60px;
}

.portfolio img {
  vertical-align: middle;
  border: none;
  text-align: center;
  max-width: 100%;
  height: 30px;
  transition: transform .2s ease-in-out;
}

.portfolio .block_container .white {
  display: none;
}

.portfolio .block_container p {
  padding-top: 15px;
  font-size: 15px;
  text-decoration: none;
  font-family: 'AileronLight', sans-serif;
  font-weight: normal;
}

.portfolio .portfolio_item_container {

  width: 70%;
  height: 80%;
  margin: 0 auto;
}

.portfolio .left_container {
  display: inline-block;
  min-width: 60%;
  float: left;
  width: 60%;
  padding-right: 15px;
}

.portfolio .left_container hr {
  width: 30%;
  margin-top: 25%;
}

.portfolio .left_container h2 {
  font-size: 20px;
  padding-top: 10vh;
  text-align: left;
  min-width: 250px;
  overflow: hidden;
}

.portfolio .left_container p {
  text-align: left;
  color: #22313F;
  font-size: 14px;
  margin-bottom: 14px;
  min-width: 250px;
  overflow: hidden;
}

.portfolio .left_container img {
  height: 50px;
  margin-top: 5%;
}

.portfolio .larger img {
  height: 80px;
  margin-top: 5%;
}

.portfolio .right_container {
  white-space: nowrap;
  margin-top: 50%;
  padding-left: 15px;
  border-left: 0.5px solid #22313F;
  float: left;
  width: 30%;
  display: inline-block;
  vertical-align: middle;
}

.portfolio .right_container .icon_container {
  padding-top: 15px;
  height: 10%;
  width: 100%;
}

.portfolio .right_container .icon_container h4 {
  padding-left: 40px;
  text-align: left;
  font-size: 14px;
  margin: 0;
}

.portfolio .right_container .icon_container h5 {
  text-align: left;
  font-size: 14px;
  padding-left: 40px;
  margin-top: 3px;
}

.portfolio .right_container .icon_container .hyperlink:hover {
  color: #22313F;
  cursor: pointer;
}

.portfolio .right_container .icon_container img {
  float: left;
  text-align: left;
  margin: 0 auto;
  margin-top: 5px;
  width: auto;
  height: 20px;
}

.team .img_container .black {
  display: none;
}

.team .img_container .color {
  display: block;
}

.team .img_container:hover .color {
  display: none;
}

.team .img_container:hover > .overlay {
    opacity: 1;
}

.team .img_container:hover .black {
  display: block;
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1.5px);
  filter: blur(1.5px);
}

.news {
  padding-top: 10vh;
  margin: auto;
  width: 60%;
  height: 800px;
  background-color: white;
}

.news h2 {
  text-align: left;
  padding-left: 12%;
  padding-right: 30%;
  margin-top: 25%;
  font-family: 'AileronBold';
  font-size: 20px;
  color: white;
  padding-bottom: 20px;
}

.news h3 {
  font-size: 24px;
  text-align: left;
  color: white;
}

.news h1 {
  font-size: 26px;
  padding-bottom: 30px;
}

.blog_container {
  text-align: center;
    -moz-column-count: 3;
    -moz-column-gap: 5px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    width: 100%;
} 

.blog_item {
  box-shadow: 0 1px 4px rgba(0,0,0,.04);
  display: inline-block;
    /* Display inline-block, and absolutely NO FLOATS! */
  width: 100%;
  margin-bottom: 20px;
  height: auto;
  background-color: #F64747;
}

.with_image {
  background-color: white;
}

.extra_margin {
  margin-top: 100px;
}

.hoverable:hover {
  background-color: #22313F;
  cursor: pointer;
}

.gray {
  filter: grayscale(1);
}

.blog_text {
  display: none;
}

.logo {
  display: none;
}

.team {
  width: 60%;
  padding-top: 5vh;
  padding-bottom: 80px;
  margin: 30px auto;
}

.team_container {
  width: 100%;
  text-align: center;
}

.team h6 {
  padding-bottom: 10px;
}

.team h2 {
  text-align: left;
  font-size: 20px;
}

.team .link {
  color: white;
  display: inline-block;
}

.team .social_container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.team .link img {
  margin-left: auto;
  margin-right: auto;
  background: none;
  width: 25px;
  height: auto;
}

.team .img_container {
  font-size: 16px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(25% - 20px);
  margin-left: 8px;
}

.team .img_container:nth-of-type(2n) {
  margin-right: 0;
}

.team img {
  border: none;
  max-width: 100%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.container {
  position: relative;
  display: inline-block;
}

.team h1 {
  font-size: 26px;
  padding-bottom: 30px;
}

.contact {
}

.overlay h5 {
    margin: 0;
    font-size: 18px;
}

.overlay {
    background:rgba(0,0,0,0.0);
    position:absolute;
    padding-left: 10px;
    padding-bottom: 10px;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    text-align: center;
}

.heart-rate {
  width: 150px;
  height: 73px;
  position: relative;
  margin: 20px auto;
}

.fade-in {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  top: 0;
  right: 0;
  animation: heartRateIn 2.5s linear infinite;
}

.fade-out {
  position: absolute;
  width: 120%;
  height: 100%;
  top: 0;
  left: -120%;
  animation: heartRateOut 2.5s linear infinite;
  background: rgba(255, 255, 255, 1);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
}

@keyframes heartRateIn {
  0% {
    width: 100%;
  }
  50% {
    width: 0;
  }
  100% {
    width: 0;
  }
}

@keyframes heartRateOut {
  0% {
    left: -120%;
  }
  30% {
    left: -120%;
  }
  100% {
    left: 0;
  }
}

.advisors_header {
  padding-top: 20px;
}

.advisors {
    display:block;
    width:100%;
    padding:4px;
    box-sizing:border-box;          /* Make sure that 50% includes the padding */
    -moz-box-sizing:border-box;     /* For Firefox                             */
    -webkit-box-sizing:border-box;
}

.advisors_inner {
  text-align:left;
  display:inline-block;
}

.advisors_inner .advisor h6 {
  font-family: 'AileronLight';
}

.advisor {
  display: inline;
}

.advisor a:-webkit-any-link {
    color: #22313F;
    text-decoration: none;
}

.advisors h6 {
  display: inline;
  color: #22313F;
  font-size: 16px;
}

.advisors h5 {
  padding-right: 5px;
  display: inline;
  font-size: 24px;
  font-family: 'AileronLight', sans-serif;
  color: #22313F;
}

@font-face {
    font-family: AileronBold;
    src: url("../aileron/Aileron-Bold.otf") format("opentype");
}

@font-face {
    font-family: AileronBlack;
    src: url("../aileron/Aileron-Black.otf") format("opentype");
}

@font-face {
    font-family: AileronLight;
    font-weight: bold;
    src: url("../aileron/Aileron-Light.otf") format("opentype");
}

@font-face {
    font-family: AileronItalic;
    font-weight: bold;
    src: url("../aileron/Aileron-SemiBoldItalic.otf") format("opentype");
}

.info_container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: white;
    opacity: 1;
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: 0 0 16px rgba(0,0,0,0.1);
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.close_container {
  position: fixed;
  z-index: 1;
  height: 100%;
  width: 0;
  left: 0;
  top: 0;
}

.btn_container {
  height: 10%;
}

.info_container .close_info_btn {
    width: 10%;
    color: #F64747;
    position: absolute;
    left: 20px;
    right: 10px;
    text-decoration: none;
    font-size: 60px;
}

.startcontainer_1 {
  position:relative;
  overflow:hidden;
  width: 100%;
  height: 50%;
}

.startcontainer_1 .leftdiv {
  float: left;
  height: 100%;
  width: 50%;
}

.startcontainer_1 .div1 {
  height: 50%;
  width: 100%;
  position:relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko         */
  box-sizing:border-box; width:100%; border: 20px solid white
}

.startcontainer_1 .first_page_1 {
  background-image: url("../img/img1_YC.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.startcontainer_1 .first_page_2 {
  background-image: url("../img/ted.png");
  background-size: 100% 80%;
  background-repeat: no-repeat;
}

.first_page_3 {
  background-image: url("../img/img4_LeanStartup.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.first_page_6 {
  background-image: url("../img/tot.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.second_page_1 {
  background-image: url("../img/img8_BlackSwan.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.second_page_3 {
  background-image: url("../img/img7_Creativity.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.third_page_1 {
  background-image: url("../img/startuplawyers.jpg");
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.third_page_5 {
  background-image: url("../img/img19_a16z.png");
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}

.third_page_6 {
  background-image: url("../img/decks.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.div1 img {
  float: left;
  width: 70%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  display: block;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover, .div6:hover {
  opacity: 0.7;
}

.textbox h5 {
  font-size: 14px;
  margin:auto;
}

.textbox p {
  font-size: 13px;
  padding-top: 0;
}

.textbox {
  white-space: nowrap;
  overflow: hidden;
  left: 25%;
  bottom: 20%;
  text-align: center;
  font-size:24px;
  font-weight:bold;
  background-color: white;
  color:black;
  position:absolute;  
  z-index:100;
}


.div1 .textbox {
  right: 0;
  overflow: hidden;
  padding: 0;
}

.div2 .textbox {
  right: 0;
  overflow: hidden;
  padding: 0;
}

.startcontainer_1 .div2 {
  height: 50%;
  width: 100%;
  background-color: #9fa8a3;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko         */
  box-sizing:border-box; width:100%; border: 20px solid white
}

.startcontainer_1 .div3 {
  height: 100%;
  float: right;
  width: 50%;
  background-color: #F64747;
  top: 0;
  position: relative;
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit  */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko         */
  box-sizing:border-box; width:50%; border: 20px solid white
}

.div3 .textbox {
  left: 0;
  width: 70%;
  bottom: 30%;
}

.startcontainer_2 {
  height: 40%;
  width: 100%;
}

.startcontainer_2 .bottomdiv {
  height: 50%;
  width: 100%;
}

.startcontainer_2 .div4 {
  height: 50%;
  width: 100%;
  background-color: #b56969;
  position: relative;
  box-sizing:border-box; border: 20px solid white
}

.startcontainer_2 .div5 {
  float: left;
  height: 100%;
  width: 50%;
  background-color: #E2856E;
  position: relative;
  box-sizing:border-box; border: 20px solid white
}

.startcontainer_2 .div6 {
  float: left;
  height: 100%;
  width: 50%;
  background-color: #61988E;
  position: relative;
  box-sizing:border-box; border: 20px solid white
}

.div4 .textbox {
  right: 0;
}

.div5 .textbox {
  right: 0;
}

.div6 .textbox {
  left: 0;
}




.navbaroverlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F64747;
    opacity: 0.9;
    overflow-x: hidden;
    transition: 0.5s;
}

.navbaroverlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.navbaroverlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    font-family: "AileronBlack";
    color: white;
    display: block;
    transition: 0.3s;
}

.navbaroverlay a:hover, .navbaroverlay a:focus {
    color: white;
}

.navbaroverlay .closebtn {
    position: absolute;
    top: 0px;
    right: 10px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .navbaroverlay a {font-size: 20px}
  .navbaroverlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.additional_info {  
  padding-top: 5vh; 
}

.additional_info hr {
  margin-top: 15px;
  width: 15%;
  height: 1px;
}

.icon_container {
  float: left;
  width: 16%;
  text-align: center;
  color: #22313F;
}

.icon_container h4 {
  font-family: "AileronLight", sans-serif;
  margin-bottom: 15px;
}

.icon_container h5 {
  margin-top: 20px;
  font-family: "AileronBold", sans-serif;
  font-size: 16px;
  color: #F64747;
  
}

.icon_container img {
  width: 30px;
}

.icon_container .icon_img {
  height: 30px;
  width: auto;
}

#resources{
  padding-top: 10vh;
  width: 60%;
  margin: auto;
  height: 450px;
  background-color: white;

}

#resources h2 {
  font-size: 17px;
  height: 40px;
}

#resources .box_text {
  text-align: center;
  height: 40px;
  font-size: 13px;
}


#fp1{
width: 60%;
background-color: white;
float: left;
}

#fp1 p {
  margin-left: 0;
  width: 85%;
  padding-top: 40px;
  font-size: 17px;
  text-align: justify;
}

#fp1 h1 {
  width: 80%;
  margin-left: 0;
  font-size: 26px;
}

#fp2{
width: 30%;
float: left;
background-color: white;
}

.link_container:hover {
  background-color: #F64747;
}

.link_container:hover h2 {
  color: white;
}

.link_container:hover p {
  color: white;
}

#fp2 img{
  width: 100%;
  height: 50%;
}

#fp2 .bottom_img {
  padding-top: 30px;
  height: 20%;
}

#fp3{
width: 25%;
float: left;
background-color: white;
}

#fp3:hover {
  opacity: 0.8;
}

#fp3 img{
  width: 100%;
  height: 50%;
}

#fp3 .bottom_img {
  padding-top: 30px;
  height: 20%;
}

#fp4{
width: 25%;
background-color: white;
float: left;
}

#fp4:hover {
  opacity: 0.8;
}

#fp4 img{
  height: 50%;
  width: 100%;
}

#fp4 .bottom_img {
  width: 100%;
  padding-top: 30px;
  height: 20%;
}

hr {
  width: 40%;
  left: 0;
  color: #F64747;
  background-color: #F64747;
  height: 5px;
  border: none;
}

.small_hr {
  margin-top: 40px;
  width: 10%;
  height: 2px;
}


@media (max-width: 768px) {
  .separator {
    padding-bottom: 8vh;
  }

  footer h3 {
    width: 100%;
  }

  footer h2 {
    width: 100%;
  }

  footer .footer_contact {
    width: 70%;
  }  

  .last {
    margin-bottom: 40px;
  }

  .textbox {
    left: 20%;
  }

  .textbox h5 {
    font-size: 12px;
  }

  #navbar a img {
    display: none;
  }

  .about h3 {
    font-size: 30px;
  }

  .textbox p {
    font-size: 10px;
  }

  .team h1 {
    margin-top: 50px;
  }

  .about {
    width: 70%;
  }

  .portfolio {
    padding-top: 5vh;
    width: 70%;
  }

  .portfolio .block_container {
      height: 130px;
      width: calc(48% - 20px);
  }

  .portfolio .block_container p {
    padding-top: 5px;
    font-size: 10px;
  }

  .portfolio .right_container {
    margin-top: 10%;
    margin-bottom: 10%;
  }

  /* News */

  #news {
    padding-top: 10vh;
    width: 70%;
  }

  .blog_container {
    -webkit-column-count: 1;
    column-count: 1;
  } 

  .blog_item {
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  .with_image {
    display: none;
  }

  .news h2 {
    margin-top: 20%;
    font-size: 18px;
  }

  .extra_margin {
    margin-top: 20px;
  }

  .less_margin {
    margin-top: 20px;
  }


  /* End of News */

  #team {
    width: 70%;
  }

  #team h1 {
    padding-bottom: 30px;
  }

  #team h5 {
    font-size: 10px;
  }

  #team .advisor h5 {
    font-size: 14px;
  }

  .additional_info .icon_container {
    width: 50%;
    padding-top: 30px;
    text-align: left;
  }

  .additional_info hr {
    margin-left: 0;
  }

  .additional_info {
    padding-top: 0;
  }

  .additional_info h4 {
    font-size: 18px;
  }

  .additional_info h5 {
    font-size: 14px;
  }

  #team h6 {
    font-size: 8px;
    padding-bottom: 2px;
  }

  #team .advisors h6 {
    font-size: 10px;
  }

  #team a img {
    width: 20px;
    height: 20px;
  }

  #resources {
    height: 900px;
    width: 70%  
  }

  #resources h1 {
    font-size: 24px;
  }

  #resources .bottom_img {
    visibility: hidden;
    height: 0px;
  }

  #fp1 {
    width: 100%;
    height: auto;
  }

  #fp1 p {
    width: 100%;
  }

  #fp2 {
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  #fp3 {
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  #fp4 {
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    height: auto;
  }

  #team .img_container {
    width: calc(50% - 20px);
  }
}

@media (min-width: 769px) and (max-width: 980px) {
  .navbar a .img {
    display: none;
  }

  .portfolio .block_container {
      height: 130px;
      width: calc(50% - 20px);
  }

  #team {
    width: 60%;
  }

  #team .img_container {
    width: calc(33% - 20px);
  }
}

@media (min-width: 981px) and (max-width: 1450px) {
  .portfolio .block_container {
      height: 150px;
      width: calc(33% - 20px);
  }

  .portfolio .left_container h2 {
    min-width: 150px;
  }  

  .portfolio .left_container p {
    min-width: 150px;
  }  

  #team {
    width: 60%;
  }

  #team .img_container {
    width: calc(25% - 20px);
  }
}

@media (min-width: 1451 px) {
  .team {
    width: 70%;
  }

  #team .img_container {
    width: calc(17% - 20px);
  }
}

.portfolio .block_container:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }
  
  a:nth-of-type(2n) {
    margin-right: 8px;
  }
  
  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

@media screen and (min-width:800px) {
  .portfolio .block_container:hover {
    background-color: #F64747;
  }

  .portfolio .block_container:hover .black {
    display: none;
  }

  .portfolio .block_container:hover .white {
    display: inline;
  }

  .portfolio .block_container:hover p {
    color: white;
  }
}

